username=Admin
password=admin123
incorrectPassword=wrongPassword123
dataFirstName=YourFirstName
dataMiddleName=YourMiddleName
dataLastName=YourLastName
dataEmployeeID=12345
dataDriverLicenseNumber=D0123456789
dataLicenseExpiryDate=2025-12-31
dateOfBirth=1990-01-01
